#calc{
	width: 320px;
	height: 100%;
	display: block;
	margin: auto;
}

#calculator {
	border: 1px solid; 
	border-radius: 20px;
	width: 320px;
	background: #3366FF;
}

#symbol{
	border: 1px solid;
	border-right: 0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 45px; 
	margin: 10px 0 10px 10px;
	text-align: center;
	vertical-align: bottom;
	float: left;
	height: 77px;
	line-height: 77px;
	font-size: 250%;
	background: #fff;
}

#input {
	border: 1px solid;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: 0;
	height: 75px;
	width: 250px; 
	margin: 10px 10px 10px 0;
	text-align: right;
	font-size: 150%;
}

#buttons {
	margin: 10px;
	font-size: 200%;
}

	
button {
	width: 75px; 
	height: 75px;
	font-size: 200%;
}

#Clear{
	width: 225px;
}

#£{
	background: url("../Media/uk_flag.png");
	font-weight: bold;
	font-size: 50%;
}

#Zł{
	background: url("../Media/polish_flag.png");
	font-weight: bold;
	font-size: 50%;
}

#kr{
	background: url("../Media/danish_flag.png");
	font-weight: bold;
	font-size: 50%;
}

#€{
	background: url("../Media/euro_flag.png");
	font-weight: bold;
	font-size: 50%;
}
